/*
 * @file            frontend/src/components/Header/DropdownColumn/DropdownColumn.mobile.module.css
 * @description     下拉菜单列组件样式 - 移动端专用（CSS Modules版本）
 *                  针对移动设备优化，调整尺寸和间距
 * @author          Gordon <gordon_cao@qq.com>
 * @createTime      2026-03-13 12:00:00
 * @lastModified    2026-03-13 12:00:00
 * Copyright © All rights reserved
*/

.dropdownCol {
  display: flex;
  flex-direction: column;
  min-width: 120px;
  margin: 0;
  padding: 0;
}

.dropdownCol dt,
.dropdownCol dd {
  margin: 0;
  padding: 0;
}

.dropdownCol dt.dropdownColTitle {
  font-size: 0.8rem;
  font-weight: 500;
  color: #999999;
  padding: 8px 0;
  text-align: center;
}

.dropdownColItem {
  margin: 0 0 6px 0;
  padding: 0;
}