@font-face {
  font-family: "HarmonyOS Sans SC";
  font-weight: 700;
  src:
    url("https://cdn-yunyin.modao.cc/FONTS/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Bold.woff2") format("woff2"),
    url("https://cdn-yunyin.modao.cc/FONTS/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Bold.woff") format("woff"),
    url("https://cdn-yunyin.modao.cc/FONTS/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "HarmonyOS Sans SC";
  font-weight: 500;
  src:
    url("https://cdn-yunyin.modao.cc/FONTS/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Medium.woff2") format("woff2"),
    url("https://cdn-yunyin.modao.cc/FONTS/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Medium.woff") format("woff"),
    url("https://cdn-yunyin.modao.cc/FONTS/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Medium.ttf") format("truetype");
}

@font-face {
  font-family: "HarmonyOS Sans SC";
  font-weight: 400;
  src:
    url("https://cdn-yunyin.modao.cc/FONTS/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Regular.woff2") format("woff2"),
    url("https://cdn-yunyin.modao.cc/FONTS/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Regular.woff") format("woff"),
    url("https://cdn-yunyin.modao.cc/FONTS/HarmonyOS_Sans_SC/HarmonyOS_Sans_SC_Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Barlow";
  font-weight: 700;
  src:
    url("https://cdn-yunyin.modao.cc/FONTS/Barlow_Bold/Barlow-Bold.woff2") format("woff2"),
    url("https://cdn-yunyin.modao.cc/FONTS/Barlow_Bold/Barlow-Bold.woff") format("woff"),
    url("https://cdn-yunyin.modao.cc/FONTS/Barlow_Bold/Barlow-Bold.ttf") format("truetype");
}