/* common */
.banner-text-1 {font-size: 14px; line-height: 1.7;}
.h1-title {font-size: 55px;line-height: 1;}
.h2-title {font-size: 38px;line-height: 1;}
.h3-title {font-size: 24px; line-height: 1;}
.h4-title {font-size: 16px; line-height: 1;}
.btn-banner {font-size: 14px;line-height: 1;border-radius: 40px;border: none;margin: 0;font-weight:500;width: 152px;height: 44px; display: inline-flex; justify-content: center; align-items: center; transition: 0.3s;}

.btn-hover {transition: 0.3s;}
.btn-hover:hover,  .btn-hover:focus{
   text-decoration: none;
   transform: perspective(1px) scale(1.05, 1.05);
   transition: all .2s ease-in;
   position: relative;
   z-index: 1;
   color: inherit !important;
}
.bottom-section-title {font-size: 30px;line-height: 1.33;}
@media (min-width: 768px) {
   .banner-text-1 {font-size: 18px; line-height: 1.45;}
   .h1-title {font-size: 65px;}
   .h2-title {font-size: 55px;}
   .h3-title {font-size: 32px; line-height: 1.1;}
   .h4-title {font-size: 20px; line-height: 1;}
   .btn-banner {font-size: 16px;border-radius: 50px;width: 185px;height: 54px;}
   .bottom-section-title {font-size: 45px;}
}
@media (min-width: 1280px) {
   .banner-text-1 {font-size: 24px; line-height: 1;}
   .h1-title {font-size: 76px;}
   .h2-title {font-size: 76px;}
   .h3-title {font-size: 42px; line-height: 1.1;}
   .h4-title {font-size: 24px; line-height: 1;}
   .btn-banner {font-size: 20px;border-radius: 60px; width: 220px;height: 64px;}
   .bottom-section-title {font-size: 60px;}
}
/* common */

/* banner背景图（默认为原型页面的背景图，需自行覆盖） */
.banner-bg {
   background-color: #fefcf7;
   background-image: url('../images/prototype/banner-bg-mobile.png');
   background-repeat:  no-repeat;
   background-position: center bottom;
   background-size: 100% auto;
   padding-bottom: 185px;
   padding-top: 30px;
}
@media (min-width: 375px) {
   .banner-bg { padding-bottom: 225px;}
}
@media (min-width: 768px) {
   .banner-bg { padding-bottom: 400px;}
}
@media (min-width: 992px) {
   .banner-bg {
       padding-bottom: 0;
       padding-top: 60px;
       background-image: url('../images/prototype/banner-bg.jpg');
       background-position: center bottom;
       background-size: auto 100%;
       background-repeat:  no-repeat;
   }
}
@media (min-width: 1280px) {
   .banner-bg {
       background-size: auto;
   }
}
/* banner背景图 */

/* bottom-section背景图（默认为原型页面的背景图，需自行覆盖） */
.bottom-section {
   background-image: url('../images/prototype/bottom-section-bg-mobile-1.svg');
   background-size: cover;
   background-position: center;
   background-repeat: repeat;
}
@media (min-width: 768px) {
   .bottom-section {
       background-image: url('../images/prototype/bottom-section-bg-1.svg');
   }
}
/* bottom-section背景图 */
