/*
 * @file            frontend/src/components/DivinationInfo/components/TimeComponents/timestamp/components/GanZhiSelector/GanZhiSelector.desktop.module.css
 * @description     天干地支选择器组件桌面端样式
 * @author          圆运阁古易文化 <gordon_cao@qq.com>
 * @createTime      2026-03-11 00:00:00
 * @lastModified    2026-03-12 17:23:02
 * Copyright © All rights reserved
*/

/* 选择器容器 */
.selector {
  position: fixed; /* 固定定位，确保在页面上固定位置 */
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; /* 确保选择器在其他元素之上 */
  background-color: var(--bg-white, #FFFFFF);
  border: 1px solid var(--border-color, #E5E7EB);
  border-radius: var(--border-sm, 4px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 0 6px;
  /* min-width: 200px; */
  overflow: hidden;
}

/* 行容器 */
.row {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
}

/* 菜单项 */
.item {
  --item-padding: 4px;
  padding: var(--item-padding);
  cursor: pointer; /* 鼠标悬停时显示为指针 */
  /* border-radius: 4px; */
  transition: all 0.3s ease;
  font-size: var(--font-size-base,14px);
  font-weight: 500;
}

/* 菜单项悬停效果 */
.item:hover {
  background-color: #f0f0f0;
  color: #1890ff;
}

/* 菜单项点击效果 */
.item:active {
  background-color: #e6f7ff;
}
