/*
 * @file            frontend/src/components/Add/Add.css
 * @description     示例添加组件样式，包含标题和容器样式
 * @author          Gordon <gordon_cao@qq.com>
 * @createTime      2026-01-27 16:34:00
 * @lastModified    2026-02-16 21:34:08
 * Copyright © All rights reserved
*/

/* 标题样式 */
.title {
  font-size: 1.25rem; /* 设置字体大小（20px） */
  font-weight: bold; /* 设置字体粗细为粗体 */
}

/* 添加组件容器样式 */
.add-container {
  padding-top: 72px; /* 设置顶部内边距 */
}