/*
 * @file            frontend/src/components/Header/DropdownMenu/DropdownMenu.mobile.module.css
 * @description     下拉菜单组件移动端样式，包含多列布局和动画效果
 * @author          Gordon <gordon_cao@qq.com>
 * @createTime      2026-03-13 00:00:00
 * @lastModified    2026-03-13 00:00:00
 * Copyright © All rights reserved
*/

.dropdownMenuRich {
  position: absolute; 
  top: calc(100% + 10px); 
  left: -10px; 
  background-color: #FFFFFF; 
  border-radius: 8px; 
  border: 1px solid #ebeaea; 
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1); 
  z-index: 100; 
  opacity: 0; 
  transform: translateY(5px); 
  animation: dropdownFadeIn 0.2s ease forwards; 
  min-width: 280px; 
  width: calc(100vw - 20px); 
  max-width: 400px; 
  padding: 5px; 
}


@keyframes dropdownFadeIn {
  
  from {
    opacity: 0; 
    transform: translateY(-5px); 
  }
  
  to {
    opacity: 1; 
    transform: translateY(0); 
  }
}


.dropdownMenuContent {
  display: flex; 
  flex-direction: column; 
  gap: 20px; 
  width: 100%; 
}


.dropdownMenuContent dl {
  display: flex; 
  flex-direction: column; 
  flex: 1 1 0; 
  min-width: 100%; 
  max-width: 100%; 
}


.dropdownMenuContent dl dt,
.dropdownMenuContent dl dd {
  padding: 8px; 
}