
:root {
  --primary-color: #1890FF;
  --text-color: #333;
  --light-text-color: #8e8e8e;
  --gray-text-color: #666;
  --border-color: #ddd;
  --bg-color: #f5f5f5;
  --white-color: #fff;
}

.liu-yao-reault-container {
  max-width: 1200px; 
  margin: 0 auto; 
  padding: 20px; 
  background-color: var(--bg-color); 
  min-height: 100vh; 
  font-size: 0.875rem; 
}

.divination-info {
  max-width: 800px; 
  margin: 0 auto; 
  padding: 10px; 
  border: 1px solid var(--primary-color); 
  border-radius: 16px; 
  margin-bottom: 20px; 
}


.info-top {
  margin-bottom: 7px;
}


.seeker-info {
  display: flex;
  width: 100%;
  gap: 28px;
}




.name-label,
.gender-label,
.birth-year-label,
.location-label,
.question-label,
.divination-type-label,
.solar-label,
.lunar-label,
.prev-jie-label,
.next-jie-label {
  color: var(--text-color);
  font-weight: bold;
}

.divination-query {
  display: flex;
  width: 100%;
  gap: 28px;
}

.date-info {
  display: inline-block;
  min-width: 115px;
  text-align: center; 
}

.time-info {
  display: inline-block;
  width: 63px;
  
  text-align: center; 
}

.name-label {
  font-size: 14px;
}

.info-middle {
  margin-bottom: 7px;
}



.info-bottom {
  display: flex;
  gap: 100px;
}


.divination-datetime {
  
  flex-direction: column;
  gap: 8px;
  width: max-content;
}

.divination-datetime > .solar-info,
.divination-datetime > .lunar-info {
  width: max-content; 
}



.solar-terms-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.main-content {
  background-color: var(--white-color); 
  border: 1px solid var(--border-color); 
  padding: 20px; 
  max-width: 800px; 
  margin: 0 auto; 
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.liu-yao-info {
  flex: 2;
  max-width: 50%; 
}

.liu-yao-info > .divination-info {
  padding-top: 0px;
  margin-bottom: 10px;
  border: 0px;
  border-radius: 0px;
  border-bottom: 1px solid #ddd;
}

.liu-yao-info > .divination-info > .solar-info {
  margin-bottom:0px; 
}

.liu-yao-info > .divination-info > .four-pillars-info {
  display: flex;
  padding: 0;
  border: 0;
}



.four-pillars-info {
  display: flex; 
  gap: 40px; 
  justify-content: center; 
  margin-bottom: 10px;
}

.year-pillars-info,
.month-pillars-info,
.day-pillars-info,
.hour-pillars-info {
  display: flex; 
  flex-direction: column; 
  align-items: center;   
  width: auto; 
}

.year-label,
.month-label,
.day-label,
.hour-label {
  font-size: 0.75rem; 
  color: var(--light-text-color); 
}

.year-gan,
.month-gan,
.day-gan,
.hour-gan,
.year-zhi,
.month-zhi,
.day-zhi,
.hour-zhi {
  font-size: 0.875rem; 
  color: var(--text-color); 
  font-weight: bolder; 
}

.year-vacancy,
.month-vacancy,
.day-vacancy,
.hour-vacancy {
  font-size: 0.75rem; 
  color: var(--gray-text-color); 
}


.supplement-info {
  flex: 1;
}

.text-box {
  border: 1px solid var(--border-color);
  padding: 20px;
  margin-bottom: 20px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
  transition: all 0.3s ease;
}

.text-box:hover {
  border-color: var(--primary-color);
  color: var(--text-color);
}
