
@import './Reset.css';


.app-container {
  display: grid; 
  
  grid-template-areas:
    "header" 
    "main"; 
  grid-template-rows: auto 1fr; 
  min-height: 100vh; 
}


.app-header {
  grid-area: header; 
  position: sticky; 
  top: 0; 
  z-index: 1000; 
}


.app-main {
  grid-area: main; 
  padding: 20px; 
}
