/*
 * @file            frontend/src/components/FourPillarsDisplay/FourPillarsDisplay.mobile.module.css
 * @description     四柱显示组件样式 - 移动端专用（CSS Modules版本）
 *                  针对移动设备优化，调整尺寸和间距
 * @author          Gordon <gordon_cao@qq.com>
 * @createTime      2026-03-13 12:00:00
 * @lastModified    2026-03-13 12:00:00
 * Copyright © All rights reserved
*/

.root {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 8px;
  flex-wrap: wrap;
}

.yearPillarsInfo,
.monthPillarsInfo,
.dayPillarsInfo,
.hourPillarsInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yearPillarsInfoLabel,
.monthPillarsInfoLabel,
.dayPillarsInfoLabel,
.hourPillarsInfoLabel {
  font-size: 0.7rem;
  color: #8e8e8e;
}

.yearPillarsInfoGan,
.monthPillarsInfoGan,
.dayPillarsInfoGan,
.hourPillarsInfoGan,
.yearPillarsInfoZhi,
.monthPillarsInfoZhi,
.dayPillarsInfoZhi,
.hourPillarsInfoZhi {
  font-size: 0.8rem;
  color: #333;
  font-weight: bolder;
  transition: color 0.3s ease;
}

.yearPillarsInfoGan:hover,
.monthPillarsInfoGan:hover,
.dayPillarsInfoGan:hover,
.hourPillarsInfoGan:hover,
.yearPillarsInfoZhi:hover,
.monthPillarsInfoZhi:hover,
.dayPillarsInfoZhi:hover,
.hourPillarsInfoZhi:hover {
  color: #1890FF;
}

.yearPillarsInfoVacancy,
.monthPillarsInfoVacancy,
.dayPillarsInfoVacancy,
.hourPillarsInfoVacancy {
  font-size: 0.65rem;
  color: #666;
}