/*
 * @file            frontend/src/components/FourPillarsDisplay/FourPillarsDisplay.desktop.module.css
 * @description     四柱显示组件样式 - 桌面端专用（CSS Modules版本）
 * @author          圆运阁古易文化 <gordon_cao@qq.com>
 * @createTime      2026-03-13 12:00:00
 * @lastModified    2026-03-14 13:19:41
 * Copyright © All rights reserved
*/

.root {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 10px;
}

.yearPillarsInfo,
.monthPillarsInfo,
.dayPillarsInfo,
.hourPillarsInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yearPillarsInfoLabel,
.monthPillarsInfoLabel,
.dayPillarsInfoLabel,
.hourPillarsInfoLabel {
  font-size: var(--font-size-sm);
  color: var(--text-secondary);
  /* opacity: 0.6; */
}

.yearPillarsInfoGan,
.monthPillarsInfoGan,
.dayPillarsInfoGan,
.hourPillarsInfoGan,
.yearPillarsInfoZhi,
.monthPillarsInfoZhi,
.dayPillarsInfoZhi,
.hourPillarsInfoZhi {
  font-size: var(--font-size-base);
  color: #333;
  font-weight: 500;
  transition: color 0.3s ease;
}

.yearPillarsInfoGan:hover,
.monthPillarsInfoGan:hover,
.dayPillarsInfoGan:hover,
.hourPillarsInfoGan:hover,
.yearPillarsInfoZhi:hover,
.monthPillarsInfoZhi:hover,
.dayPillarsInfoZhi:hover,
.hourPillarsInfoZhi:hover {
  color: #1890FF;
}

.yearPillarsInfoVacancy,
.monthPillarsInfoVacancy,
.dayPillarsInfoVacancy,
.hourPillarsInfoVacancy {
  font-size: var(--font-size-sm);
  color: var(--text-secondary);
  opacity: 0.6;
}