/*
 * @file            frontend/src/components/Card/GuaResultDisplay/GuaResultDisplay.desktop.module.css
 * @description     卦象结果显示组件样式 - 桌面端专用（CSS Modules版本）
 * @author          圆运阁古易文化 <gordon_cao@qq.com>
 * @createTime      2026-03-23 13:45:00
 * @lastModified    2026-03-23 16:07:57
 * Copyright © All rights reserved
*/

/* 卦象结果显示容器 */
.guaResultDisplay {
  display: flex;
  align-items: center;
  padding: 8px;
  /* background-color: #f0f8ff; */
  border-radius: 8px;
  /* border: 1px solid #e3f2fd; */
}

/* 结果标签 */
.resultLabel {
  font-size: 14px;
  color: #666;
  margin-right: 8px;
  font-weight: 500;
}

/* 结果值 */
.resultValue {
  font-size: 14px;
  /* color: #333; */
  font-weight: 500;
  /* font-family: 'SimSun', serif; */
}